html {
  font-size: 14px;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  height: 100vh;
}

/*.navigation {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
  
      li {
        margin-bottom: 10px;
  
        a {
          text-decoration: none;
        }
      }
    }
  }


  #menu {
    height: 100%;
    width: 300px;
    margin-top: 50px;
  }

#menu .logo img {
  width: 100px;
  margin-left: 50px;

}

#menu {

  

 li {
    width: 150px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    margin: 0 100px 0 30px;
    list-style: none;
    padding: 25px 0;
  }//

  li:hover{
    background-color: #253047;
    cursor: pointer;
  }

  li:nth-child(1){
    border-left: 4px solid #fff;
  }

  a {
    color: var(--text-color);
    font-weight: 300px;
   
  }

}

#img1 {
  width: 80px;
  margin-right: 20px;
}
#interface {
  width: calc(100% - 300px);

  .navigation{
    display: flex;
    justify-content: flex-end;
    padding: 15px 30px;
    border-bottom: 3px solid var(--ligh-grey);
 
  }
}*/

.material-icons-sharp {
  vertical-align: middle;
}

.dashboard-container {
  display: grid;
  grid-template-columns: 2fr 7fr 3fr;
  grid-template-areas: "sidebar main extrabar";
  gap: 4rem;
  height: 100%;
}


