html {
  font-size: 14px;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  height: 100vh;
}

.material-icons-sharp {
  vertical-align: middle;
}

.dashboard-container {
  display: grid;
  grid-template-columns: 2fr 7fr 3fr;
  grid-template-areas: "sidebar main extrabar";
  gap: 4rem;
  height: 100%;
}
