/* Style de base pour le formulaire */
.form {
  display: flex;
  flex-direction: column;
}

/* Style pour les étiquettes des champs */
.form label {
  font-weight: bold;
  margin-bottom: 5px;
}

/* Style pour les champs de saisie */
.form-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Style pour le champ de commentaire (textarea) */
.form-input-textarea {
  width: 100%;
  height: 150px;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Style pour les boutons du formulaire */
.form-submit {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-reset {
  padding: 10px 20px;
  background-color: #ccc;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Style pour les messages d'erreur */
.error-message {
  color: red;
  margin-top: 5px;
}

/* Style pour le lien de retour */
.form-back {
  text-align: center;
  margin-top: 15px;
}

.form-back a {
  color: #007bff;
  text-decoration: none;
}

/* Style pour les messages de succès */
.success-message {
  color: green;
  margin-top: 5px;
}

/* Style pour le message "Aucun commentaire trouvé" */
.comment-list .empty-message {
  color: #777;
  font-style: italic;
}

h1,
h2,
h3 {
  text-align: center;
}

.comment-list {
  list-style-type: none;
  padding: 0;
}

.comment-form-comments {
  margin: 0 auto;
  /* Centre le formulaire horizontalement */
  max-width: 600px;
  /* Limite la largeur du formulaire à 600px */
  margin-bottom: 30px;
}

.comment {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 10px;

}

.comment-list-container {
  margin-top: 50px;
}

.comment .author {
  font-weight: bold;
  color: #007bff;
}

.comment .date {
  font-size: 0.8em;
  color: #666;
  font-style: italic;
}

.comment .content {
  margin-top: 5px;
  font-weight: bold;
}