/* Style pour la table des commentaires */
.crud-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.crud-table th, .crud-table td {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  text-align: left;
}

.crud-table th {
  font-weight: bold;
  
}

.crud-comment-reported {
  margin-top: 20px;
  text-align: right;
}

.crud-comment-reported a {
  display: inline-block;
  padding: 12px 24px;
  background-color: #28a745;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
}

.crud-comment-reported a:hover {
  background-color: #1f8639;
}

.crud-back a:hover {
  background-color: #1f8639;
}

/* Style liste commentaire */
.crud-table {
  width: 100%;
  border-collapse: collapse;
}

.crud-table th,
.crud-table td {
  padding: 10px;
  border: 1px solid #ddd;
}

.crud-table th {
  text-align: center;
}

.crud-table td {
  text-align: center;
}

/* Style pour les actions des commentaires */
.crud-actions {
  display: flex;
  gap: 10px;
}

/* Style pour le bouton "Supprimer" */
.btn-danger {
  background-color: #dc3545;
  color: #fff;
  padding: 10px 20px;
  border-radius: 3px;
}

.btn-danger:hover {
  background-color: #c82333;
  color: white;
}

/* Style pour le bouton "Approuver" */
.btn {
  display: inline-block;
  margin-bottom: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
}

.btn:hover {
  background-color: #0069d9;
  color: #fff;
}

/* Style pour la div contenant la liste des commentaires */
.comment-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.btn-danger {
  background-color: #dc3545;
  color: #fff;
  padding: 10px 20px;
  border-radius: 3px;
}
